@model IEnumerable<Seller>
@{
    ViewData["Title"] = "Sellers";
}

<h1>Sellers!</h1>

<a asp-action="Create">Create a new Seller</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Seller seller in Model){
        <tr>
            <td>
                @Html.DisplayFor(sr => seller.Name)
            </td>
            <td>
                @Html.DisplayFor(sr => seller.Email)
            </td>
            <td>
                @Html.DisplayFor(sr => seller.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(sr => seller.Salary)
            </td>
            <td>
                @Html.DisplayFor(sr => seller.DepartmentId)
            </td>
            <td>
                <a asp-controller="Sellers" asp-action="Details" 
                asp-route-id="@seller.Id">
                    Details
                </a>
            </td>
        </tr>
        }
    </tbody>
</table>